

    <footer id="footer">
        <!-- <img src="wave.png"> -->
       <div class="flexClass" style="justify-content: space-around;">
        
           <div class="footer-box text-center">
             <img src="/images/logo.png" style="border-radius:50% 35% 60% 40%;">
             <p>TECHIE <br> This website contains links of all free resources for learning technichal skills.
                These resources are best among all resources present on Youtube, so that u dont have to search 
                it.
            </p>
           </div>

           <div class="footer-box">
             <h3>Created By <b>Manvi Bansal</b></h3>
             <p><i class="fas fa-map-marker-alt"></i> Panipat, Haryana</p> 
             <p><i class="fas fa-phone"></i> +91-888888888</p>
             <p><i class="fas fa-envelope"></i> abc@gmail.com</p>
           </div>

       </div>

       <section id="social-media">
         <div class="container text-center">
             <p>CONTACT ME ON</p>
             <div class="social-icons">
               <a href="https://www.linkedin.com/in/manvi-bansal-8649821a1" style="background-color: #293679;"><i class="fab fa-linkedin"></i></a>
               <a href="https://github.com/Manvi-tech?tab=repositories" style="background-color: #144216;"><i class="fab fa-github-square"></i></a>
               <a href="https://www.youtube.com/channel/UCNByZMtmamuyS4dsh2tzzpQ?view_as=subscriber" style="background-color: #ff0000d4;"><i class="fab fa-youtube-square"></i></a>
               <a href="#" style="background-color: #e91e63;"><i class="fab fa-instagram-square"></i></a>
               <a href="https://www.facebook.com/profile.php?id=100011259211954" style="background-color: #184554;"><i class="fab fa-facebook-square"></i></a>
             </div>
         </div>
      </section>

     </footer>








