<body>
    <%- include('devLinks'); %>

    <section id="ANDROID">
        <h1 class="hd text-center">Android Development</h1>
        <div class="android-container flexClass dev-resources-container">
            <div class="android-topic">
                <h4 class="text-center">Beginning</h4>
                <ul>
                    <li>Pick a language: Kotlin, Java</li>
                    <li>Fundamentals
                        <ol>
                            <li>Install android studio</li>
                            <li>learn basic of kotlin/java</li>
                            <li>Basics of oops</li>
                            <li>Data structures and algorithms</li>
                            <li>What is gradle and how to use it?</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="android-topic">
                       <h4 class="text-center">Tools</h4>
                       <ul>
                           <li>Version Control System
                               <ol>
                                   <li>Git</li>
                                   <li>What are version control system?</li>
                                   <li>Why to use it?</li>
                               </ol>
                           </li>
                           <li>Repo Hosting Services
                               <ol>
                                   <li>Github, Gitlab, Bitbucket</li>
                               </ol>
                           </li>
                       </ul>
            </div>
            <div class="android-topic">
                   <h4 class="text-center">Build an Application -1</h4>
                   <ul>
                       <li>Using activities and activity lifecycles</li>
                       <li>Building flexible interfaces and fragments</li>
                       <li>Debugging using android studio debugger</li>
                       <li>Components and their usage
                           <ol>
                               <li>Room, Live data, data binding </li>
                               <li>Work manager, Navigation</li>
                           </ol>
                       </li>
                    </ul>
            </div>
            <div class="android-topic">
                   <h4 class="text-center">Build an Application -2</h4>
                   <ul>
                       <li>Content Providers</li>
                       <li>Handling App Configurations</li>
                       <li>Using intents</li>
                       <li>Understand contexts</li>
                       <li>3rd Party Libraries</li>
                       <li>eg Glide, Retrofit, Crashlytics, GSON</li>
                   </ul>
            </div>
            <div class="android-topic">
                  <h4 class="text-center">Writing Robust Apps</h4>
                  <ul>
                      <li>Learn Multithreading
                          <ol>
                              <li>Why do we need that?</li>
                              <li>How to write threaded code?</li>
                              <li>Memory concerns</li>
                              <li>How android uses thread internally?</li>
                          </ol>
                      </li>
                  </ul>
            </div>

            <div class="android-topic">
                <h4 class="text-center">Wring Robust Apps -2</h4>
                <ul>
                    <li>Security</li>
                    <li>Testing: Junit, Expresso</li>
                    <li>Dependency Managemnt: Dogger, Koin</li>
                    <li>Concurrency: RxJava, Coroutines</li>
                </ul>
            </div>

            <div class="android-topic" style="box-shadow: 0 0 15px magenta;">
                <h4 style="font-size: 2.3rem;">Resources</h4>
                <ul>
                 <li><a href="https://www.youtube.com/playlist?list=PLknSwrodgQ72X4sKpzf5vT8kY80HKcUSe">Android Developer</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLUhfM8afLE_Ok-0Lx2v9hfrmbxi3GgsX1">Neat Boots</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLlxmoA0rQ-LyCGSSD_nuPAmXDSR_FU0RR">Smartherd</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PL6Q9UqV2Sf1gHCHOKYLDofElSvxtRRXOR">Master Coding</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9aiL0kysYlfSOUgY5rNlOhUd">Code With Harry</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLRu7mEBdW7fAUNtaiPoTCCgWXSlqwqdSP">Geeky hub</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLtCBuHKmdxOe8IWZnA515lGPKaWx5WNOE">Fahad Hussain</a></li>
                </ul>
            </div> 


        </div>
    </section>

    <script>
        $('#development-links ul li#android a').css("color","white");
        $('#development-links ul li#android').css("background","linear-gradient(45deg, #009688, #4b4088)");
</script>

</body>