
  <section id="back-end">
    <h1 class="text-center hd">Back End Web Development (NodeJS)</h1>
    
    <div class="backend-container flexClass">
          <div class="backend-box">
            <h4 class="text-center">Nodejs Basics,Modules</h4>
            <div class="backend-info">
              <a href="">Telusko</a>
              <a href="">Net Ninja</a>
              <a href="">Smartherd</a>
              <a href="">Programming With Moksh</a>
            </div>
          </div>

          <div class="backend-box">
            <h4 class="text-center">Mongo DB with Mongoose</h4>
            <div class="backend-info">
              <a href="">Ganguly Tech</a>
              <a href="">Js Wiz</a>
              <a href="">Net Ninjas</a>
            </div>
          </div>

          <div class="backend-box">
            <h4 class="text-center">Exress js, Middleware</h4>
            <div class="backend-info">
              <a href="">Ganguly Tech</a>
              <a href="">Js Wiz</a>
              <a href="">Net Ninjas</a>
            </div>
          </div>

          <div class="backend-box">
            <h4 class="text-center">Ejs Template Engine</h4>
            <div class="backend-info">
              <a href="">Net Ninja</a>
              <a href="">Code Step By step</a>
              <a href="">Walk Through Code</a>
            </div>
          </div>


          <div class="backend-box">
            <h4 class="text-center">Passport Local/JWT/Oath Authentication Strategies</h4>
            <div class="backend-info">
              <a href="">Net Ninja</a>
              <a href="">Zach Golwitzer</a>
              <a href="">Chris Courses</a>
            </div>
          </div>

          <div class="backend-box">
            <h4 class="text-center">SASS</h4>
            <div class="backend-info">
              <a href="">Net Ninja</a>
              <a href="">Yahoo Baba</a>
              <a href="https://www.youtube.com/watch?v=nu5mdN2JIwM">Traversy Media</a>
            </div>
          </div>

          <div class="backend-box">
            <h4 class="text-center">Notifications, Connect-flash</h4>
            <div class="backend-info">
              <a href="">Net Ninja</a>
              <a href="">Zach Golwitzer</a>
              <a href="">Chris Courses</a>
            </div>
          </div>

          <div class="backend-box">
            <h4 class="text-center">Nodemailer, To Send Mails</h4>
            <div class="backend-info">
              <a href="">smartherd</a>
              <a href="">Code Step By Step</a>
              <a href="">Technichal Babaji</a>
            </div>
          </div>

    </div>
</section>