


 <!-- ------------  dsa section ---------> 

 <%- include('dsaResources'); %>

  <!-- -------------CP Container --------------->

  <section id="competitive-programming" class="resources">

    <h1 class="hd">Competitive Programming</h1>
     <div class="cp">
        <div>
            <h4>Recursion</h4>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=c7VjS7ZZVWM&list=RDCMUCRIWTSgd7hGtZhx4RYoASEg&start_radio=1&t=0" target="_blank">Simple Snippets</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PL2_aWCzGMAwLz3g66WrxFGSXvSsvyfzCO" target="_blank">Neso Academy</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PL_z_8CaSLPWeT1ffjiImo0sYTcnLzo-wY" target="_blank">Aditya Verma</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiFxaBahjslhBD1LiJAV7nKs" target="_blank">Pepcoding</a></li>
            </ul>
        </div>

        <div>
            <h4>Backtracking</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiHO9SQ6lxGuDsZNt2mkHEn0" target="_blank">Pepcoding</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLNxqWc8Uj2LTaaxs-8vzK0Ft47rMggFnN" target="_blank">Kashish Mehndiratta</a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLTZbNwgO5ebpqWBmBx0lpy9IYFMSQcrL-" target="_blank">Saurabh School</a></li>
            </ul>
        </div>

        <div>
            <h4>Dynamic Programming</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiEZvXCn-c5UIBvfT8dA-8EG" target="_blank">Pepcoding</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PL2q4fbVm1Ik4ktv2_1O1atXoeV7whMAy_" target="_blank">Code NCode</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLqM7alHXFySGbXhWx7sBJEwY2DnhDjmxm" target="_blank">GeeksforGeeks</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLVrpF4r7WIhTT1hJqZmjP10nxsmrbRvlf" target="_blank">Andrey Grehov</a></li>
                
            </ul>
        </div>

        <div>
            <h4>Bitmasking</h4>
            <ul>
                <li><a href="" target="_blank"></a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLb3g_Z8nEv1icFNrtZqByO1CrWVHLlO5g" target="_blank">Kartik Arora</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLb3g_Z8nEv1icFNrtZqByO1CrWVHLlO5g" target="_blank">The Coding Guy</a></li>
                <li><a href="https://www.youtube.com/watch?v=v5RwgP0KIAQ" target="_blank">Club Of Programmers</a></li>
            </ul>
        </div>

        <div>
            <h4>Segment Tree</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PL2q4fbVm1Ik6v2-emg_JGcC9v2v2YTbvq" target="_blank">Code NCode</a></li>
                <li><a href="https://www.youtube.com/watch?v=Ic7OO3Uw6J0" target="_blank">Rachit Jain</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLMCXHnjXnTnuASA1NghV3Vs9J3D_ij5w2" target="_blank">Gaurav Sen</a></li>
              
            </ul>
        </div>

        <div>
            <h4>Fenwick tree</h4>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=CWDQJGaN1gY&t=0s" target="_blank">Tushar Roy</a></li>
                <li><a href="https://www.youtube.com/watch?v=RHxTWnWriXA" target="_blank">Mike The Coder</a></li>
                <li><a href="https://www.youtube.com/watch?v=kPaJfAUwViY&t=0s" target="_blank">Algorithms Live</a></li>
            </ul>
        </div>

        <div>
            <h4>Number Theory</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PL2q4fbVm1Ik4liHX78IRslXzUr8z5QxsG" target="_blank">Code NCode</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLKVbzgfwpMauz1l-mPBBI9JXECMjQ43Mi" target="_blank">Math Quest</a></li>
                <li><a href="IIT Bombay" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
            </ul>
        </div>

        <div>
            <h4>Searching and Sorting</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PL2_aWCzGMAwL3ldWlrii6YeLszojgH77j" target="_blank">myCodeSchool</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLgjc0A1c-mogMbecoTJWWSRL450glE6aw" target="_blank">The Insight Coders</a></li>
                <li><a href="https://www.youtube.com/watch?v=qBGLYzFF1aQ&t=0s" target="_blank">GeeksforGeeks</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLTAk1jG45iLOYOpJ36ObnJ6T105NIoPoF">ivnam the coder</a></li>
            </ul>
        </div>

     </div>
     <div class="link" style="position: relative; margin-top:-40px;"><a href="#DSA">Data Structures <i class="fas fa-arrow-up"></i></a></div>

</section>

       