<body>
    <%- include('devLinks'); %>

    <!-- data science -->
   <section id="DS">

    <h1 class="hd text-center">Data Science</h1>
    <div class="ds-container flexClass dev-resources-container">

        <div class="ds-topic">
            <h4>Language</h4>
            <ul>
                <li>Python/ R
                    <ol>
                        <li>Libraries: Numpy, Pandas, Ski-kit learn </li>
                    </ol>
                </li>
                <li>IDE
                    <ol>
                        <li>Jupyter Notebook, PyTorch, Spyder</li>
                    </ol>
                </li>
            </ul>
        </div>

        <div class="ds-topic">
               <h4>Web Scrapping</h4>
               <ul>

                   <li>Beautiful soup</li>
                   <li>Selenium</li>
                   <li>Scrappy</li>
                   <li>API scrapping</li>
                   
               </ul>
        </div>

        <div class="ds-topic">
            <h4 class="text-center">Statistics</h4>
            <ul>
                <li>Probability Theory: 
                    <ol>
                        <li> Randomness, random variable, random sample </li>
                        <li> Probability Distribution</li>
                        <li> Conditional Probability, Bayes theorem</li>
                        <li> Stastical Independence</li>
                        <li> iid </li>
                        <li>ODF <span style="font-size: 0.8rem;">cumulative distributive function</span></li>
                        <li>PDF <span style="font-size: 0.8rem;">Probability density function</span></li>
                        <li>PMF <span style="font-size: 0.8rem;">Probability mass function</span></li>
                    </ol>
                </li>
            </ul>
        </div>

        <div class="ds-topic">
           <h4 class="text-center">Statistics</h4>
            <ul>
               <li>Continuous Distributions (pdf's)
                   <ol>
                       <li>Normal/Gaussian</li>
                       <li>Uniform (continuous)</li>
                       <li>Beta</li>
                       <li>Direchlet</li>
                       <li>Exponential</li>
                       <li>x <sup>2</sup> (chi-squared)</li>
                   </ol>
               </li>
               <li>Population & Sampling</li>
            
            </ul>
         </div>

         <div class="ds-topic">
             <h4 class="text-center">Statistics</h4>
             <ul>
                 <li>Discrete Distribution (pmf's)
                     <ol>
                         <li>Uniform (discrete)</li>
                         <li>Binomial</li>
                         <li>Multimonial</li>
                         <li>Hypergeometric</li>
                         <li>Poisson</li>
                         <li>Geometric</li>
                     </ol>
                 </li>
             </ul>
         </div>

         <div class="ds-topic">
             <h4 class="text-center">Statistics</h4>
             <ul>
                 <li>Summary Stastics
                     <ol>
                         <li>Expectation and mean</li>
                         <li>Variance & standard deviation </li>
                         <li>Covariance and correlation</li>
                         <li>Median, quartile</li>
                         <li>Interquartile range</li>
                         <li>Percentile/quantile</li>
                         <li>Mode</li>
                     </ol>
                 </li>
             </ul>
         </div>

         <div class="ds-topic">
             <h4 class="text-center">Statistics</h4>
             <ul>
                 <li>Important Laws: Law of large nos, Central Limit Theorem 
                 </li>
                 <li>Estimation: Maximum Likelihood Estimation, Kernal Density Estimation
                 </li>
                 <li>Hypothesis Testing: p-value, chi<sup>2</sup> test, F-test, T-test </li>
                 <li>Confidence Interval</li>
                 <li>Monte carlo method</li>
             </ul>
         </div>

         <div class="ds-topic">
             <h4 class="text-center">Visualization</h4>
             <ul>
                 <li>Chart Suggestion Thought Starter</li>
                 <li>Python: streamlit</li>
                 <li>Web: streamlit, vega-lite, D3.js</li>
                 <li>Dashboards: streamlit, dash</li>
                 <li>BI: Tableau, PowerBI</li>
             </ul>
         </div>

         <div class="ds-topic">
             <h4 class="text-center">Visualization</h4>
             <ul> 
                 <li>Python
                     <ol>
                         <li>Matplotlib</li>
                         <li>Plotnine (like ggplot in R)</li>
                         <li>Bokeh</li>
                         <li>Seaborn</li>
                         <li>Ipyvolume (3D data)</li>
                         
                     </ol>
                 </li>
             </ul>
         </div>

         <div class="ds-topic" style="box-shadow: 0 0 15px magenta;">
            <h4 style="font-size: 2.1rem; margin-top: -10px;">Resources</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PLZoTAELRMXVOnN_g96ayzXX5i7RRO0QhL">Krish Naik</a></li>
             <li><a href="https://www.youtube.com/user/joshstarmer">Stat Quest With Josh Starmer</a></li>
             <li><a href="https://www.youtube.com/playlist?list=PLeo1K3hjS3us_ELKYSj_Fth2tIEkdKXvV">Codebasics</a></li>
             <li><a href="https://www.youtube.com/c/sentdex/playlists">Sentdex</a></li>
            </ul>
        </div> 

    </div>

</section>

<script>
    $('#development-links ul li#data-science a').css("color","white");
    $('#development-links ul li#data-science').css("background","linear-gradient(45deg, #009688, #4b4088)");
</script>

</body>