
<!-- development links for ML, wEBD, DL, DSc, Android -->
<!-- css is in devlopmet resources.sccs -->


  <div id="development-links">
    <ul class="flexClass">
        <li id="webd">
            <a href="/resources/development/webd">Web Development</a>
        </li>
        <li id="ml">
            <a href="/resources/development/ml">Machine Learning</a>
        </li>
        <li id="dl">
            <a href="/resources/development/dl">Deep Learning</a>
        </li>
        <li id="data-science">
            <a href="/resources/development/data-science">Data Science</a>
        </li>
        <li id="android">
            <a href="/resources/development/android">Android Development</a>
        </li>
    </ul>
  </div>

