<body>

    <section id="development-resources"> 
    
    <%- include('devLinks'); %>
       
    <section id="DL">
        <h1 class="text-center hd">Deep Learning</h1>

        <div class="dl-container flexClass dev-resources-container">
              <div class="dl-topic">
                  <h4>Language</h4>
                  <ul>
                      <li>Python/ R
                          <ol>
                              <li>Libraries: Numpy, Pandas, Ski-kit learn </li>
                          </ol>
                      </li>
                      <li>IDE
                          <ol>
                              <li>Jupyter Notebook, PyTorch, Spyder</li>
                          </ol>
                      </li>
                  </ul>
              </div>

              <div class="dl-topic">
                 <h4 class="text-center">Neural Networks</h4>
                 <ul>
                        <li>Understanding neural network</li>
                        <li>Loss functions</li>
                        <li>Activation functions</li>
                        <li>Weight Initialization</li>
                        <li>Vanishing/ Gradient Problem</li>
                 </ul>
              </div>

              <div class="dl-topic">
                  <h4 class="text-center">Architectures</h4>
                  <ul>
                      <li>Feedforward neural network</li>
                      <li>CNN <span style="font-size: 0.8rem;">(convolution neural network)</span>:Pooling</li>
                      <li>RNN: LSTM, GRU</li>
                      <li>Transform: Encoder, Decoder, Attention</li>
                      <li>Siamese Network</li>
                      <li>Generative Adversarial Network</li>
                      <li>Evolving Architectures/ NEAT</li>
                      <li>Residual Connections</li>
                  </ul>
              </div>
        
              <div class="dl-topic">
                  <h4 class="text-center">Training</h4>
                  <ul>
                      <li>Optimizers</li>
                      <li>Learning Rate Schedules</li>
                      <li>Batch Normalization</li>
                      <li>Batch Size Effects</li>
                      <li>Regularization</li>
                      <li>Multitasking Learning</li>
                      <li>Transfer Learning</li>
                      <li>Curriculum Learning</li>
                  </ul>
              </div>

              <div class="dl-topic">
                  <h4 class="text-center">Optimizers</h4>
                  <ul>
                      <li>SGD</li>
                      <li>Momentum</li>
                      <li>Adam</li>
                      <li>AdaGrad</li>
                      <li>Nadam</li>
                      <li>RMSProp</li>
                  </ul>
              </div>

              <div class="dl-topic">
                  <h4 class="text-center">Regularisation</h4>
                  <ul>
                      <li>Early Stopping</li>
                      <li>Dropout</li>
                      <li>Parameter Penalties</li>
                      <li>Data Augmentation</li>
                      <li>Adversarial Training</li>
                  </ul>
              </div>

              <div class="dl-topic">
                  <h4 class="text-center">Tools</h4>
                  <ul>
                      <li>Important Libraries: Important deep learning, huggingface transformers</li>
                      <li>Tensorflow, Keras</li>
                      <li>PyTorch/ Jupiter</li>
                      <li>Tensorboard</li>
                      <li>MLFlow</li>
                  </ul>
                  
              </div>

              <div class="dl-topic">
                 <h4 class="text-center">Model Optimization</h4>
                 <ul>
                     <li>Distillation</li>
                     <li>Quantization</li>
                     <li>Neural Architecture Search(NAS)</li>
                 </ul>
              </div>
     
              <div class="dl-topic" style="box-shadow: 0 0 15px magenta;">
                <h4 style="font-size: 2.3rem;">Resources</h4>
                <ul>
                 <li><a href="https://www.youtube.com/playlist?list=PLZoTAELRMXVPGU70ZGsckrMdr0FteeRUi">Krish Naik</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLkDaE6sCZn6Ec-XTbcX1uRg2_u4xOEky0">DeepLearningAI</a></li>
                 <li><a href="https://www.youtube.com/playlist?list=PLeo1K3hjS3uu7CxAacxVndI4bE_o3BDtO">Codebasics</a></li>
                </ul>
            </div> 
        
        </div>                    

    </section>

    </section>

<script>
        $('#development-links ul li#dl a').css("color","white");
        $('#development-links ul li#dl').css("background","linear-gradient(45deg, #009688, #4b4088)");
</script>

</body>


