
 <!----------  DSA  container  ---- -->
 <section class="resources" id="DSA">
    <div  class="link" style="position: relative; margin-top: 20px;"><a href="#competitive-programming">Competitive Programming <i class="fas fa-arrow-down"></i></a></div>
    
     <div class="dsa">
      <h1 class="hd">Data Structures</h1>
      <div class="dsa-resources flexClass">
          <div>
              <h4 class="tc-red">Array</h4>
              <ul>
                <li><a href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRjoG6aJ4FvFU1tlXbjLBiOP">Neso Academy</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLDA2q3s0-n17lGt6HyexWP0zR1yISc1km">Edutainment</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiFkOETg2Ybq-FMuJjkZSGeH">Pepcoding</a></li>
              </ul>
          </div>
    
          <div>
              <h4>Linked List</h4>
              <ul>
                  <li><a href="https://www.youtube.com/watch?v=nxtDe6Gq4t4&list=RDCMUCQYMhOMi_Cdj1CEAU-fv80A&start_radio=1&t=0">Neso Academy</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiF5VZmktfqW6WVU1pxBF6l_">Pepcoding</a></li>
                  <li><a href="https://www.youtube.com/watch?v=DFpWCl_49i0&list=PLLOxZwkBK52Akgqf4oSWPOQO9ROWS_9rc">Sandeep Saradhi</a></li>
                </ul>
          </div>
    
          <div>
              <h4>Stack</h4>
              <ul>
                  <li><a href="https://www.youtube.com/watch?v=r7P9sy5Rar8&list=RDCMUCRIWTSgd7hGtZhx4RYoASEg&start_radio=1&t=2">Simple Snippet</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiEyUGT3S8zPdTMYojwZPLUM">Pepcoding</a></li>
                  <li><a href="https://www.youtube.com/watch?v=Rw6sbaKy6sk&list=PLTAk1jG45iLORLj5Apv5T1phEAAiOh_SW">ivnam the coder</a></li>
                </ul>
          </div>
    
          <div>
              <h4>Queue</h4>
              <ul>
                  <li><a href="https://www.youtube.com/watch?v=sDO9bPaBg6A&list=RDCMUCRIWTSgd7hGtZhx4RYoASEg&start_radio=1&t=0&t=0">Simple snippet</a></li>
                  <li><a href="https://www.youtube.com/watch?v=8IECyHndytk&list=PL-Jc9J83PIiEyUGT3S8zPdTMYojwZPLUM&index=36">Pepcoding</a></li>
                  <li><a href="https://www.youtube.com/watch?v=okr-XE8yTO8">mycodesvhool</a></li>
                </ul>
          </div>
    
          <div>
              <h4>Tree</h4>
              <ul>
                  <li><a href="https://www.youtube.com/playlist?list=PL-pUjcDnciX3Z5AEE8HHRrcfj-987Ia94">mycodeschool</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PL-Jc9J83PIiHYxUk8dSu2_G7MR1PaGXN4">Pepcoding</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PLTxllHdfUq4d-DE16EDkpeb8Z68DU7Z_Q">Paul Programming</a></li>
                </ul>
          </div>
    
          <div>
              <h4>Maps</h4>
              <ul>
                  <li><a href="https://www.youtube.com/watch?v=KwS-Vbsha1k">code with harry</a></li>
                  <li><a href="https://www.youtube.com/watch?v=TVgNpUWuhWs&list=RDCMUCVvzjWVhcYGfznHOQdMParQ&start_radio=1&t=4">code sports</a></li>
                  <li><a href="https://www.youtube.com/watch?v=r01r8mEs9I4">Cpp Nuts</a></li>
                </ul>
          </div>
    
          <div>
              <h4>Priority Queue</h4>
              <ul>
                  <li><a href="https://www.youtube.com/watch?v=BTLW_ksW7wQ">Quarantine Engineers</a></li>
                  <li><a href="https://www.youtube.com/watch?v=JSqznrzWGvc">Cpp Nuts</a></li>
                  <li><a href="https://www.youtube.com/watch?v=wptevk0bshY">WiliamFiset</a></li>
                </ul>
          </div>
    
          <div>
              <h4>Graphs</h4>
              <ul>
                  <li><a href="https://www.youtube.com/watch?v=gXgEDyodOJU&list=RDCMUClEEsT7DkdVO_fkrBw0OTrA&start_radio=1&t=1">mycodeschool</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PLEJXowNB4kPzByLnnFYNSCoqtFz0VKLk5">TECH DOSE</a></li>
                  <li><a href="https://www.youtube.com/playlist?list=PLDV1Zeh2NRsDGO4--qE8yH72HFL1Km93P">WilliamFiset</a></li>
              </ul>
          </div>
      </div>
    </div>
    </section>
    