<section id="frontend-roadmap flexClass">
        
    <h1 class="text-center hd">Front End Web Development</h1>
    <div class="frontend-container flexClass">

     
      

       <div class="frontend-topic">
        <div style="background-color: white;border-radius: 17px 45px; padding: 5px;">
            <h4>Javascript, Jquery, DOM</h4>
            <div>
              <a href="https://www.youtube.com/playlist?list=PLsyeobzWxl7qtP8Lo9TReqUMkiOp446cV">Telusko</a>
              <a href="https://www.youtube.com/playlist?list=PLLAZ4kZ9dFpPQbcrA-SzALJeFm23tPrAI">Mike Dane</a>
              <a href="https://www.youtube.com/playlist?list=PLwGdqUZWnOp0X4dVwSsEd6dV49TLLCooI">Thapa Technichal</a>
            </div>
        </div> 
      </div>

      <div class="frontend-topic">
        <div style="background-color: white;border-radius: 17px 45px; padding: 5px;">
            <h4>Boostrap5 / Materailize</h4>
            <div>
              <a href="https://www.youtube.com/watch?v=Qb8DLdSYBAo">Thapa Technichal</a>
              <a href="https://www.youtube.com/playlist?list=PLp50dWW_m40UvCxL8K83_DotLYiG4mDcM">ARC tutorials</a>
               <!-- <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gjxLvV4VEkZ6H6H4yWuS58">Net Ninja</a> -->
            </div>
        </div>
      </div>

      <div class="frontend-topic">
        <div style="background-color: white;border-radius: 17px 45px; padding: 5px;">
            <h4>Ajax, Promises</h4>
            <div>
              <a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6bKLPQvPRNNE65kBL62mVfx">Coding Train</a>
              <a href="https://www.youtube.com/playlist?list=PLwGdqUZWnOp3ZgLj8upMGSRSC1ezBfEZs">Thapa Technichal</a>
              <a href="https://www.youtube.com/c/AllThingsJavaScriptLLC/playlists">all things js, LLC</a>
               <a href="https://www.youtube.com/watch?v=FJZEVmF3eDg">CodeWithHarry</a>
            </div> 
        </div> 
     </div>

    <div class="frontend-topic">
        <div style="background-color: white;border-radius: 17px 45px; padding: 5px;">
            <h4>React / Angular / Vue</h4>
            <div>
              <a href="https://www.youtube.com/playlist?list=PLC3y8-rFHvwgg3vaYJgHGnModB54rxOk3">React by Codevolution</a>
              <a href="https://www.youtube.com/playlist?list=PLwGdqUZWnOp3aROg4wypcRhZqJG3ajZWJ">React BY thapa Technichal</a>
              <a href="https://www.youtube.com/playlist?list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ">Angular by codevolution</a>
              <a href="https://www.youtube.com/playlist?list=PLwGdqUZWnOp0NUuwR85Kq-wrDA2AVY1Ku">Angular by thapa technichal</a>
            </div>
        </div>
    </div>

    <div class="frontend-topic">
      <div style="background-color: white;border-radius: 17px 45px; padding: 5px;">
          <h4>Front End Projects</h4>
          <div>
            <a href="https://www.youtube.com/playlist?list=PLjwm_8O3suyNtV-ca8HkE_GW92CWJ0hIF">Easy Tutorials</a>
            <a href="https://www.youtube.com/playlist?list=PLwGdqUZWnOp2EFXVRQ_N0M0PibGivSxil">thapa Technichal</a>
            <a href="https://www.youtube.com/playlist?list=PLrzjNLuPsd9lovLRJ3WbmCWJs_A44RAbe">TA develops</a>
            <a href="https://www.youtube.com/playlist?list=PL-tHL4yGBdKvFjT0OF2-yq3at-cMt8qW_">Paudie Healey</a>
          </div>
      </div>
  </div>

    </div>

</section>

