

<body id="home">
    <!-- ----------technichal study resources section--- -->
<section id="technichal">
    
      <h1 class="title text-center">Start Learning <i class="far fa-hand-point-down"></i></h1>
    
      <div class="flexClass technichal-container">
       
        <div class="technichal">
            <img src="/images/development.jpg" class="language-img">
            <h5>Data And Development</h4>
              <p>click here to check all free online resources to learn programming languages</p>
              <a href="/resources/development/webd" target="_blank"><i class="fas fa-arrow-right"></i></a>  
        </div>

           
        <div class="technichal">
          <img src="/images/language.jpg" class="language-img">

         <h5>Programming Languages</h4>
         <p>click here to check all free online resources to learn programming languages></p>
         <a href="/resources/languages" target="_blank"><i class="fas fa-arrow-right"></i></a>  
        </div>
  
        <div class="technichal">
          <img src="/images/cp.jpg" class="language-img">
          <h5>Competitive Programming, DSA</h4>
            <p>click here to check all free online resources to learn programming languages</p>
            <a href="/resources/cp" target="_blank"><i class="fas fa-arrow-right"></i></a>  
        </div>
  
      </div>
     
   
  </section>


    <!-- ------DBMS, OS section --------- -->

    <section id="core-subjects">
      <h1 class="title text-center">Core Subjects</h1>
      <div style="margin-top: -45px;" class="flexClass">

          <div class="subject">
              <span><a href="" class="sub-name">Operating System</a></span>
          </div>
      
          <div class="subject">
              <span><a href="" class="sub-name">System Design</a></span>
          </div>
          <div class="subject">
              <span><a href="" class="sub-name">Computer Networks</a></span>
          </div>

          <div class="subject">
            <span><a href="" class="sub-name">Database Management System</a></span>
          </div>

          <div class="subject">
              <span><a href="" class="sub-name">Object Oriented Proramming(OOPs)</a></span>
          </div>
      </div>

      <div style="margin-top: -30px;" class="flexClass">
        <a href="/resources/core-subjects" style="font-size: 3rem; color: #e91e63; margin-top: 15px;" target="_blank"><i class="fas fa-arrow-right"></i></a> 
      </div>

  </section>
  
    <!-- ----Aptitude preparation section --- -->
    
  <section id="aptitude-section">    
      <%- include('aptitude'); %>
  </section>


   
  
        
    <!-- ----resume building sites section--- -->
    <section id="resume">
      <div class="container">
        <h1 class="title text-center">Resume Building Sites  <i class="far fa-id-badge"></i> </h1>
        <div class="row">
            
              <div class="col-6 ms-md-auto">
                <ol type="1">
                  <li><a href="">Canva</a></li>
                  <li><a href="">KickResume</a></li>
                  <li><a href="">Visual CV</a></li>
                  <li><a href="">Zety</a></li>
                  <li><a href="">Free Resume Templates</a></li>
                  <li><a href="">NovoResume</a></li>
                  <li><a href="">MyPerfectResume</a></li>
                  <li><a href="">Resume Genius</a></li>
                  <li><a href="">Pongo</a></li>
                  <li><a href="">Creddle</a></li>
                </0l>
              </div>
              
              <div class="col-6 ms-md-auto">
                <img src="/images/resume.png" class="img-fluid">
              </div>
        </div>
      </div>
    </section>


  <!------section which is directing to all companies page -->
  <section id="all-companies">

    <div class="container" style="z-index: 1 !important;">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-6">
              <div class="feature-box">
                <h1>Companies other than FAANG</h1>
                <p>Student looking for tech jobs/internships  should see these companies</p>
                <a href="/companies" class="btn-one" target="_blank">View</a>
              </div>
          </div>
          <div class="col-md-6">
                <img src="/images/company.png" class="feature-img">
          </div>
        </div>
      </div>
    </div> 
  
   </section> 

    
</body>

<%- include('_footer'); %>