
 <section id="good-companies" class="flexClass">
       
    <div class="good-companies-container flexClass">
      <h1 class="text-center title"> Companies Everyone should know <i class="fab fa-waze"></i></h1>

      <div class="companies-name flexClass">
        <div><img src="/images/companies/cred.png" alt=""></div>
        <div><img src="/images/companies/intuit.png"></div>
        <div><img src="/images/companies/groww.png" alt=""></div>
        <div><img src="/images/companies/sumologic.png"></div>
        <div><img src="/images/companies/arcesium.jpg"></div>
        <div><img src="/images/companies/tower-research.png"></div>
        <div><img src="/images/companies/meesho.png" alt=""></div>
        <div><img src="/images/companies/atlassian.png"></div>
        <div><img src="/images/companies/pharmeasy.png" alt=""></div>
        <div><img src="/images/companies/sharechat.png" alt=""></div>
        <div><img src="/images/companies/de-shaw.png"></div>
        <div><img src="/images/companies/gupshup.jpg" alt=""></div>
        <div><img src="/images/companies/sapient.jpg"></div>
        <div><img src="/images/companies/postman.jpeg"></div>
        <div><img src="/images/companies/salesforce.png"></div>
        
      </div>

    </div>


  </section>

  <%- include('_footer'); %>
