<body>
          
<!-- ----------language resources section ---------------->

<section class="language-resources resources">
 
    <h1 class="hd">Programming Languages</h1>
    <div class="flexClass">
    
      <div class="language-resources-img-container">
        <img src="/images/languages/c++.jpg" class="language-resource-img">
        <ul>
          <li><a href="https://youtube.com/playlist?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL">Code With Harry</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ">Apna College</a></li>
          <li>><a href="https://www.youtube.com/playlist?list=PLAE85DE8440AA6B83">thenewboston</a></li>
          <li>><a href="https://www.youtube.com/playlist?list=PLVlQHNRLflP8_DGKcMoRw-TYJJALgGu4J">treehouse</a></li>
        </ul>
        <h3 class="text-center">C++ <span>Youtube Videos</span></h3>
      </div>
        
      <div class="language-resources-img-container">
        <img src="/images/languages/java.png" class="language-resource-img">
        <ul>
          <li><a href="https://www.youtube.com/playlist?list=PLsyeobzWxl7oZ-fxDYkOToURHhMuWD1BK">Telusko</a></li>
          <li><a href="https://youtube.com/playlist?list=PLWPirh4EWFpFfTUVBl5KbeXly1sHKSc-Z">Tutorials Point</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRjKA_NuK9mHmlk0dZzuP1P5">Neso Academy</a></li>
          <li><a href="https://www.youtube.com/watch?v=ntLJmHOJ0ME&list=PLu0W_9lII9agS67Uits0UnJyrYiXhDS6q">Code with harry</a></li>   
          
        </ul>
        <h3 class="text-center">JAVA <span>Youtube Videos</span></h3>
      </div>
      
      <div class="language-resources-img-container">
        <img src="/images/languages/python.jpg" class="language-resource-img">  
        <ul>
          <li><a href="https://www.youtube.com/playlist?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3">Telusko</a></li>
          <li><a href="https://youtube.com/playlist?list=PLZoTAELRMXVNUL99R4bDlVYsncUNvwUBB">Krish Naik</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9agICnT8t4iYVSZ3eykIAOME">code with harry</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j">Harshit Vashistha</a></li>
        </ul>
        <h3 class="text-center">PYTHON <span>Youtube Videos</span></h3>
      </div>
      
      <div class="language-resources-img-container">
        <img src="/images/languages/c.jpg" class="language-resource-img">   
        <ul>
          <li><a href="https://www.youtube.com/playlist?list=PLVlQHNRLflP8IGz6OXwlV_lgHgc72aXlh">Naresh IT</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRggZZgYpPMUxdY1CYkZtARR">Neso Academy</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR">Code With Harry</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLe_7x5eaUqtWp9fvsxhC4XIkoR3n5A-sF">Technichal Education</a></li>
        </ul>
        <h3 class="text-center">C <span>Youtube Videos</span></h3>
      </div>
      
      <div class="language-resources-img-container">
        <img src="/images/languages/js.jpg" class="language-resource-img">
        <ul>
          <li><a href="https://www.youtube.com/playlist?list=PLsyeobzWxl7qtP8Lo9TReqUMkiOp446cV">Telusko</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLLAZ4kZ9dFpPQbcrA-SzALJeFm23tPrAI">Mike Dane</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PLwGdqUZWnOp0X4dVwSsEd6dV49TLLCooI">Thapa Technichal</a></li>
          <li><a href="https://www.youtube.com/playlist?list=PL0b6OzIxLPbx-BZTaWu_AF7hsKo_Fvsnf">Yahoo Baba</a></li>
        </ul>
        <h3 class="text-center">JAVASCRIPT <span>Youtube Videos</span></h3>
      </div>
      
  </div>   

           
</section>

<script>

 

</script>

</body>
<%- include('_footer'); %>