
<body>

<section id="development-resources"> 

<%- include('devLinks'); %>

 <section id="ML">
    <h1 class="text-center hd">Machine Learning</h1>

    <div class="ml-container flexClass dev-resources-container">
        <div class="ml-topic">
            <h4>Language</h4>
            <ul>
                <li>Python/ R
                    <ol>
                        <li>Libraries: Numpy, Pandas, Ski-kit learn </li>
                    </ol>
                </li>
                <li>IDE
                    <ol>
                        <li>Jupyter Notebook, PyTorch, Spyder</li>
                    </ol>
                </li>
            </ul>
        </div>

       <div class="ml-topic">
            <h4 class="text-center">General</h4>
            <ul>
                <li>Categorical, Ordinal, Numerical Variables</li>
                <li>Cost fn, Gradient decent</li>
                <li>Overfitting, Underfitting</li>
                <li>Training, Validation, test data</li>
                <li>Precision vs Recall</li>
                <li>Bias, Variance</li>
                <li>Lift</li>
                <li>Libraries: scikit-learn, spacy(NLP)</li>
            </ul>
       </div>
       <div class="ml-topic">
           <h4 class="text-center">Methods</h4>
           <ul>
               <li>Supervised Learning</li>
               <li>Unsupervised Learning</li>
               <li>Ensemble Learning</li>
               <li>Reinforcemnt Learning: Q-Learning</li>
           </ul>
       </div>

       <div class="ml-topic">
           <h4 class="text-center">Supervised Learning</h4>
           <ul>
               <li>Clustering: Hierarchial, K-Means</li>
               <li>DBSCAN, HDBSCAN</li>
               <li>Fuzzy C-Means, Mean shift</li>
               <li>Aglonarative, Optics</li>
               <li>Regression: Linear, Poisson</li>
               <li>Classification: classification rate, decision trees, logistic regression, SVM, Gaussian Mixture Models</li>
           </ul>
       </div>

       <div class="ml-topic">
           <h4 class="text-center">Unsupervised Learning</h4>
           <ul>
               <li>Assosiation Rule Learning</li>
               <li>Epriori Algorithm</li>
               <li>ECLAT Algorithm</li>
               <li>FP Trees</li>
               <li>Dimensionally Reduction: PCA, NMF, T-SNE, UMAP</li>
            </ul>
       </div>

       <div class="ml-topic">
           <h4 class="text-center">Ensemble Learning</h4>
           <ul>
               <li>Boosting</li>
               <li>Bagging </li>
               <li>Stacking</li>
           </ul>
       </div>

       <div class="ml-topic">
           <h4 class="text-center">Use cases</h4>
           <ul>
               <li>Sentiment Analysis</li>
               <li>Collaborative Filterring</li>
               <li>Tagging</li>
               <li>Prediction</li>
           </ul>
       </div>

        <div class="ml-topic" style="box-shadow: 0 0 15px magenta;">
            <h4 style="font-size: 2.3rem;">Resources</h4>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PLZoTAELRMXVPBTrWtJkn3wWQxZkmTXGwe">Krish Naik</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLeo1K3hjS3uvCeTYTeyfe0-rN5r8zn9rw">Codebasics</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLQVvvaa0QuDfKTOs3Keq_kaG2P55YRn5v">Sintdex</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLLssT5z_DsK-h9vYZkQkYNWcItqhlRJLN">AI-All In One</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLEiEAq2VkUULYYgj13YHUWmRePqiu8Ddy">Simpli Learn</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF">StatQuest With Josh Starmer</a></li>
                <li><a href="https://www.thinkxacademy.com/Machine%20Learning/">ThinkX Academy</a></li>
            </ul>
        </div>       
   

    </div>

</section>

</section>

<script>
        $('#development-links ul li#ml a').css("color","white");
        $('#development-links ul li#ml').css("background","linear-gradient(45deg, #009688, #4b4088)");
</script>

</body>