
<body>

<section id="development-resources"> 

    <%- include('devLinks'); %>


   <section id="WEBD">
      <%- include('frontend'); %>
      <%- include('backend'); %>
    </section>

</section>

<script>
 
        $('#development-links ul #webd a').css("color","white");
        $('#development-links ul #webd').css("background","linear-gradient(45deg, #009688, #4b4088)"); 

</script>

</body>