 


#aptitude-preparation {
   margin:0;
   font-family: 'Roboto Condensed', sans-serif;
   letter-spacing: 1px;
   word-spacing: 4px;
    
 .process-wrapper {
     margin:auto;
     max-width:1080px;
  }
  
  #progress-bar-container {
     position:relative;
     width:90%;
     margin:auto;
     height:100px;
     margin-top:65px;
  }
  
  #progress-bar-container>ul {
     padding:0;
     margin:0;
     padding-top:15px;
     z-index:9999;
     position:absolute;
     width:100%;
     margin-top:-40px
  }
  
  #progress-bar-container>ul li:before {
     content:" ";
     display:block;
     margin:auto;
     width:30px;
     height:30px;
     border-radius:50%;
     border:solid 2px #aaa;
     transition:all ease 0.3s;
      
  }
  
  #progress-bar-container li.active:before, #progress-bar-container li:hover:before {
     border:solid 2px #fff;
     background: linear-gradient(to right, #E91E63 0%,#fff 100%); 
  }
  
  #progress-bar-container li {
     list-style:none;
     float:left;
     width:20%;
     text-align:center;
     color:#aaa;
     text-transform:uppercase;
     font-size:11px;
     cursor:pointer;
     font-weight:700;
     transition:all ease 0.2s;
     vertical-align:bottom;
     height:60px;
     position:relative;
  }
  
  #progress-bar-container li .step-inner {
     position:absolute;
     width:100%;
     bottom:0;
     font-size: 14px;
  }
  
  #progress-bar-container li.active, #progress-bar-container li:hover {
     color:#444;
  }
  
  #progress-bar-container li:after {
     content:" ";
     display:block;
     width:23px;
     height:23px;
     background:#777;
     margin:auto;
     border:solid 7px #fff;
     border-radius:50%;
     margin-top:40px;
     box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
     transition:all ease 0.2s;
      
  }
  
  #progress-bar-container li:hover:after {
     background:#555;
  }
  
  #progress-bar-container li.active:after {
     background: darkblue;
  }
  
  #progress-bar-container #line {
     width:80%;
     margin:auto;
     background: #eee;
     height:6px;
     position:absolute;
     left:10%;
     top:57px;
     z-index:1;
     border-radius:50px;
     transition:all ease 0.9s;
  }
  
  #progress-bar-container #line-progress {
     content:" ";
     width:3%;
     height:100%;
     background: #207893;	 
     background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
     position:absolute;
     z-index:2;
     border-radius:50px;
     transition:all ease 0.9s;
  }
  
  #progress-content-section {
     width:90%;
     margin: auto;
     background: #ffe6ee;
     border-radius: 4px;
  }
  
  #progress-content-section .section-content {
     padding:30px 40px;
  }
  
  #progress-content-section .section-content h2 {
     font-size:1.2rem;
     font-weight: 600;
     text-transform:uppercase;
     color:#333;
     letter-spacing:1px;
     text-align:center;
  }
  #progress-content-section .section-content ol >li{
     line-height: 25px;
     font-size: 1.1rem;
  }
  #progress-content-section .section-content ol >li ul li,a{
     line-height: 20px;
     font-size: 0.9rem;
     font-weight: 500;
  }
  #progress-content-section .section-content {
     display:none;
     animation: FadeInUp 700ms ease 1;
     animation-fill-mode:forwards;
     transform:translateY(15px);
     opacity:0;
  }
  
  #progress-content-section .section-content.active {
     display:block;
  }
  
  @keyframes FadeInUp {
     0% {
         transform:translateY(15px);
         opacity:0;
     }
     
     100% {
         transform:translateY(0px);
         opacity:1;
     }
  }
  
  
    
}
 