
#good-companies{
    height: auto;
    background-image: url(/images/background/bg-imp-companies.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .good-companies-container{
      margin:5% 10%;
      z-index: 10000;
      background: white;
      height: auto;
      flex-direction: column;
      align-items: center;
  
      .companies-name{
        align-items: center;
        width: 90%;
        height: auto;
        margin-top:-100px;
        
  
        div img{
          height:200px;
          width:200px;
          margin:5px 20px;
        }
  
      }
  
    }
    
  }