 
    #women-main{
        height:auto;
        margin-bottom: 14%; 

        h1{
          position:relative;
          text-align: center;
          margin-top: 7vh;
        }

        table{
          margin-top: 7vh;
          a{
            text-decoration: none;
          }
        }

        .promo-title{
          font-size: 40px;
          font-weight: 600;
          margin-top:40px;
        }
    }

  
  

    


    