#good-companies {
  height: auto;
  background-image: url(/images/background/bg-imp-companies.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #good-companies .good-companies-container {
    margin: 5% 10%;
    z-index: 100;
    background: white;
    height: auto;
    flex-direction: column;
    align-items: center; }
    #good-companies .good-companies-container .companies-name {
      align-items: center;
      width: 90%;
      height: auto;
      margin-top: -100px; }
      #good-companies .good-companies-container .companies-name div img {
        height: 200px;
        width: 200px;
        margin: 5px 20px; }

@media screen and (max-width: 600px) {
  .good-companies-container h1:before {
    transform: translateY(100px) !important; }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55) !important;
    z-index: 1000 !important;
    background-color: #fff59f;
    margin-right: 20px;
    width: 140px;
    line-height: 18px;
    font-weight: 700; } }
